$primaryFont: 'Krub', sans-serif;
$secondaryFont: 'Marcellus', serif;

$primaryColorLight: #d5ced2;
$secondaryColorLight: #d9d2d5;
$baseColor: #8c8b84;
$primaryColorDark: #827c71;
$secondaryColorDark: #33312a;

body {
    background-color: $primaryColorLight;
    font-family: $primaryFont;
    color: $secondaryColorDark;
    padding: 0;
    margin: 0;
}

nav {
    padding: 1rem 2rem;
    max-width: 100%;

    ul {
        margin: 0 0 2rem 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        li {
            list-style: none;

            button {
                background-color: transparent;
                border: transparent;
                color: $secondaryColorDark;

                &:hover {
                    background-color: transparent;
                }
               
            }
            .material-symbols-outlined {
                font-size: 2rem;

                &:hover {
                color: black;
                }
            }

        }
    }
  
}

button {
    cursor: pointer;
    width: 75px;
    padding: 0.5rem 0;
    background-color: whitesmoke;
    font-weight: bold;
    margin-top: 0.5rem;

    &:hover {
        background-color: $secondaryColorLight;
    }

    &.btnOk {
        border: 2px solid $secondaryColorDark;
    }

}


.inputForm {
    background-color:$baseColor;
    min-height: 250px;
    padding: 1rem 2rem;

    label {
        display: block;
        margin-bottom: 1rem;
    
        input {
          position: absolute;
          margin-left: 0.5rem;
          width: 300px;
          left: 110px;
        }
    }

    button {
        width: 150px;
        display: block;

    }

}



.productP {
    margin: 0 0 0 2rem;
}
.productP:last-child {
    margin-bottom: 1rem;
}

.ordernumber, #myOrdersP {
    font-weight: bold;

    p, #ordernumberDiv  {
        font-weight: 300;
    }
}


.quoteDiv {
    font-style: italic;
    font-family: $secondaryFont;
    text-align: center;
}

.heroSection {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/frontend/public/hero.jpg');
    height: 50vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;

    img {
        width: 80%;
    }
}

.logoutBtn {
    margin-left: 0;
}

.categorySection {
    background-color: $secondaryColorDark;
    color: $primaryColorLight;
    display: flex;
    justify-content: center;

    .categoryMainDiv {
        display: flex;
    
        button {
            margin: 0.5rem;
            width: 100px;
            font-weight: 200;
   
        }
    }
}

.productSection {
    background-color: $secondaryColorLight;
    color: $secondaryColorDark;

    p {
        margin-left: 2rem;
    }

    .mainDivContentDiv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }

    .productDiv {
        border: 1px solid $primaryColorDark;
        padding: 2rem;
        margin: 1rem;

        button {
            margin-top: 1rem;
            width: 150px;
            padding: 0.5rem 0;  
            
            &:hover {
                outline: 4px solid $secondaryColorDark;
                background-color: whitesmoke;
            }

            &:disabled {
                outline: none;
                background-color: transparent;
            }
        }
    }
}


.cartDiv {
    text-align: right;
    background-color: $secondaryColorDark;
    color: $primaryColorLight;
    margin-top: 1rem;
   
    .shopCartDiv {
        margin: 1rem 2rem 0 0;
        padding: 1rem 0 1rem 0;

        p {
            display: inline;
            margin-right: 1rem;
        }
        p:last-of-type{
            margin-right: 0;
        }
        
    .totalAmountContainer {
        font-weight: bold;
        color: $secondaryColorLight;
        margin: 1rem 0;

        button {
            width: 150px;
            
        }
        .errorMsg {
            font-size: 0.75rem;
            
        }
    }
}
}

.myOrdersDiv {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .heroSection {
        height: 70vh;
        img {
            max-width: 60%;
        }
    }
}